


@font-face {
    font-family: MyriadPro-Cond;
    src: url(../fonts/MyriadPro-Cond.otf);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.otf);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:MyriadPro-BoldCond;
    src: url(../fonts/MyriadPro-BoldCond.otf);
    font-weight: normal;
    font-style: normal;

}





/* ==========================================================================
   Author's custom styles
   ========================================================================== */


header{text-align: center; 	line-height: 108px;height: 108px;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
box-shadow:0px 0px 10px #d1d1d0;
}
header.sticky {position: fixed;line-height: 125px;height: 48px; width: 100%;background: #ff7100;text-align: left; color:#fff; z-index:50;}
header.sticky a{ color:#fff;}
.sticky .navbar-header{ padding:0;}
.sticky .navbar-brand img{ padding: 4% 0;
    width: 100%;
/*filter: grayscale(1);
-webkit-filter: grayscale(1);
-moz-filter: grayscale(1);
-o-filter: grayscale(1);
-ms-filter: grayscale(1);*/
}


.navbar-fixed-top, .navbar-fixed-bottom{ position: static; margin:0 auto; padding:0; }
.navbar-inverse{ background: none; background-image:none;}
.navbar-fixed-top{ border:none;}
.navbar-inverse{ border:none;}
.navbar-brand{ padding:0;}

.navbar-header{ margin:0 auto; padding:1% 0; float:left;}

.navbar .container{ position:relative;}
.logo-top {box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);background:rgba(255, 255, 255, 0.9);float: left;margin: 0 auto;padding:19px;position: absolute;z-index: 999; top:0; left:0; float:left; width:200px; height:200px;

 -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
.logo-top img{ width:100%;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{ margin-left:0;}
.sticky .logo-top{ width:150px; height:150px; padding:10px;box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);background:rgba(255, 255, 255, 0.9);}


#navbar{ float:right; margin:0 auto; padding:0;}
#navbar ul{ margin:0 auto; padding:0;}
#navbar ul li{ margin:0 auto; padding:0; float:left; list-style:none; text-decoration:none; position:relative;}
#navbar ul li a{ list-style:none; text-decoration:none; font-size:16px; color:#000;font-family: MyriadPro-Cond; padding:0 15px; border-right:1px solid #dedede;}
.active{ background:#ff7100;  border-radius:5px; color:#fff!important;}
#navbar ul li a:hover{ background:#ff7100; border-radius:5px; color:#fff;}

#navbar ul li ul { position: absolute; width: 200px; background: #FF7100; z-index: 999;top: 66px; left: 0;}
#navbar ul li ul li { width:100%; float:left;}


.sticky #navbar ul li a{ color:#fff;}
.sticky .active{ background:#fff; color:#000!important;}
.sticky ul li a:hover{background:#fff!important; color:#000!important;}	

/*.slider{ width:100%; float: left; margin:50px 0 0 0;}*/

.slider{ position:relative;}
.slider .item{ position:relative;}
.slide-content{ position: absolute; top:35%;}
.slide-content h2{font-family: MyriadPro-Bold; font-size:110px; margin:0 auto; padding:0; color:#fff; text-shadow:0 0px 5px #000; text-transform:uppercase;}
.slide-content h2 span{ color:#ff7100;}
.slide-content h6{font-family: MyriadPro-Regular;font-size:30px; color:#fff; text-transform:uppercase; margin:0 auto; padding:0;}
.slide-content h6 span{color:#ff7100;}

.owl-theme .owl-controls{ margin-top:0!important;}
#owl-slide1 .owl-buttons{ position:absolute; width:100%; top:38%;}
#owl-slide1 .owl-buttons .owl-prev{ float:left; margin:0 0 0 10%; background:url(../img/prev-arrow1.png) no-repeat; border-radius:0; text-indent:-9999px; width:24px; height:37px;}
#owl-slide1 .owl-buttons .owl-next{ float:right; margin:0 10% 0 0; background:url(../img/next-arrow1.png) no-repeat; border-radius:0; text-indent:-9999px; width:24px; height:37px;}
#owl-slide1 .owl-pagination{position:absolute; width:100%; bottom:30px;}
#owl-slide1 .owl-pagination .active{ background:none; margin:0; padding:0!important;}
#owl-slide1 .owl-pagination span{ width:6px; height:6px; background:#ff7100!important;}
#owl-slide1 .item img{ width:100%;}

.arrow-slider{ width:100%; position:absolute; bottom:80px; z-index:10;}
.arrow-slider a{ margin:0 49%; padding:0;}

.welcome{ background:url(../img/welcome-bg.png) top center no-repeat; background-size:cover; min-height:602px; position:relative; z-index:40;}
.welcome-img{ width: auto; height:auto; border:4px solid #fff; float:left; position:relative; margin: 19% 0 0;}
.border-1{ border:5px solid #fff; width:96%; height:96%; position:absolute; margin:7px 0 0 7px;}
.register-btn{background: #ff7100 none repeat scroll 0 0;bottom: 9%;height: 34px;margin: 0 31%;padding: 0;position: absolute;width: 126px;}
.register-btn a{ border: 1px solid #fff;color: #fff;float: left;font-family: MyriadPro-Regular;list-style: outside none none;margin: 3px;padding: 3px;
text-align: center;text-decoration: none;text-transform: uppercase;width: 95%;}

.welcome-right{ margin-top:6%;}
.welcome h1{ font-size:30px; color:#ff7100;font-family:MyriadPro-BoldCond; text-transform:uppercase;}
.welcome h3{ font-size:24px; color:#fff; font-family: MyriadPro-Cond; font-weight:bold; text-transform:uppercase; letter-spacing:2px;}
.welcome p{ font-size:14px; color:#fff; font-family: MyriadPro-Regular; color:#fff; line-height:30px;}
.read-more{ border:3px solid #f66e05; float:left; color:#fff; text-transform:uppercase; font-size:12px; padding:5px 20px;text-decoration:none; list-style:none;}
.read-more:hover{ text-decoration:none; list-style:none; color:#fff;}

.what_we_do{ background:url(../img/bg1.jpg) top center no-repeat fixed;height: 800px;position: relative;top:-135px; background-size: cover;}
.what_we_do h3{  color: #fff;font-family: MyriadPro-BoldCond;font-size: 30px;margin:14% 0 0;text-align: center;text-transform: uppercase;width: 100%; background:url(../img/line.png) center 15px no-repeat;}
.what_we_do p{ text-align:center; color:#fff; width:100%; margin:15px 0 0 0; font-size:22px; font-family: MyriadPro-BoldCond;}

#owl-what_do .item{ position: relative; background:#fff; margin:0 15%; border: 4px solid rgba(225, 225, 225, 0.1); float:left;
  -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */}
	
.what_do_slide{ margin:40px 0 0;}
.border-2{ border:1px solid #fff; position:absolute; top:3px; left:3px; width:98%; height:197px; }
.what-slide-content{ background:#fff; width:100%; height:100%; padding:10px 10px 25px 10px; border-top:1px solid #ff7100; text-align:center; float:left;}
.what-slide-content button{ position: relative; text-align:center; margin:0 auto; padding:5px 0; top:-25px; background:url(../img/button_bg1.png) top center no-repeat; border:none; width:100%; color:#fff; font-size:17px; text-transform:uppercase;font-family: MyriadPro-Cond;}
.what-slide-content p{ color:#000; font-size:13px; text-align:center; margin:0 0 10px 0; padding:0;}
.what-slide-content .read-more {float: none;margin: 0 auto;padding: 5px 20px;text-align: center;width: 50%; color:#000;}

.what_do_slide .owl-controls .owl-prev{ background: url(../img/prev-arrow2.png) top center no-repeat!important; text-indent:-9999px; border-radius:0; width:24px; height:44px; float:left;}
.what_do_slide .owl-controls .owl-next{ background: url(../img/next-arrow2.png) top center no-repeat!important; text-indent:-9999px;border-radius:0; width:24px; height:44px; float:right;}
.what_do_slide .owl-controls{ position:absolute; width:100%; top:50%;}

.customer-news-main{ position: relative; min-height: 426px;}
.customer-news{background: rgba(0, 0, 0, 0) url("../img/customer-news-bg.png") no-repeat scroll center top / cover ;min-height: 692px;position: absolute; width:100%; z-index: 40; top:-261px;}
.customer-news .row{ margin-top:9%; margin-left:0; margin-right:0;}
.customer-news .col-md-4{ margin-left:13%;}
.customer h3{ font-size:30px;font-family:MyriadPro-BoldCond; color:#fff; text-transform:uppercase; padding:10px 15px 4px 15px; float:left; width:100%;
background: rgba(0,0,0,0.59);
background: -moz-linear-gradient(left, rgba(0,0,0,0.59) 0%, rgba(224,224,224,0) 88%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.59)), color-stop(88%, rgba(224,224,224,0)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.59) 0%, rgba(224,224,224,0) 88%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0.59) 0%, rgba(224,224,224,0) 88%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.59) 0%, rgba(224,224,224,0) 88%, rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.59) 0%, rgba(224,224,224,0) 88%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );}
.video-icons{ margin:10px 0 0 0; float:left; width:100%;}
.video-icons a{ float:left; margin:0 5px 0 0;}
.video-icons a:last-child{ margin:0 auto; padding:0;}
.video-icons button{ background: rgba(0,0,0,0.7); color:#fff; border:none; padding:5px 10px; margin:18px 0 0 -5px;}
.load{ background:#000!important; color:#fd7101!important; padding:5px 10px!important; margin:10px 0 0 0!important;}

.news{ float:right; width:50%; background:url(../img/news-bg.jpg) top center no-repeat; background-size: cover; padding:40px;}
.news h3{ font-size:30px;font-family:MyriadPro-BoldCond; color:#fff; text-transform:uppercase; padding:0; margin:0;float:left; width:100%;}
.news h6{ font-size:15px; color:#fff;font-family: MyriadPro-Regular; text-transform:uppercase;opacity: 0.7; margin:0 0 25px 0; padding:5px 0; float:left; width:100%;}

.news-in{ float: left;width: 100%}
.news-in img{ float:left; margin:0 25px 15px 0;}
.news-in h5{ font-size:17px; color:#fff;font-family: MyriadPro-Cond; text-transform:uppercase; margin:0 auto; padding:0 0 5px 0;width: 100%}
.news-in p{ font-size:15px; color:#fff;opacity: 0.2; width:100%;}
.news-in a{ color:#fff; font-size:14px; margin:0 auto; padding:0;opacity: 0.5;}
.news-in a:hover{ text-decoration:none; list-style:none;}

.personal-training{ background:url(../img/personal-training-bg.jpg) no-repeat fixed center top / cover ; padding:10% 0;}
.personal-training h2{ font-size:61px; color:#fff; font-family: MyriadPro-Bold; text-transform:uppercase; width:100%; text-align:center;}
.personal-training h5{ font-size:18px; color:#fff; font-family: MyriadPro-Regular; text-transform:uppercase; width:100%; text-align:center; margin:25px 0;}
.register-now{ font-size:13px; color:#fff; text-transform:uppercase; background:#ff7100; padding:10px 45px; border:none; border-radius:10px;font-family: MyriadPro-Regular; letter-spacing:5px; margin:0 39%; text-align:center;}
.register-now:hover{ background:#d65f00;}

.popular-class{background:url(../img/popular-class-bg.jpg) no-repeat center top / cover ; padding:50px 0 75px 0;}
.popular-class h3{color: #fff;font-family: MyriadPro-BoldCond;font-size: 30px;margin: 0;padding:0;text-transform: uppercase;width: 100%; text-align:center;}
.popular-class p{ font-size:15px; color:#fff; width:100%; text-align:center; margin:15px 0 25px 0;}
.crossfit{ border:4px solid rgba(225, 225, 225, 0.1);}
.crossfit-content{ background:#4e00c2; padding:15px;}
.crossfit-content h6{ margin:0 auto; padding:0; font-family: MyriadPro-Cond; color:#fff; font-size:20px;}
.crossfit-content p{ text-align:left; margin:0 auto; font-size:14px; margin:5px 0 0 0;}
.crossfit-content a{ color:#fff; text-decoration:none; list-style:none;}

.salsa{ position: relative; border:4px solid rgba(225, 225, 225, 0.1); height:161px; overflow:hidden; margin:0 0 15px 0;}
.salsa img{ width:100%;}
.salsa h6 a{ position:absolute; width:100%; bottom:0; background: rgba(255,141,0,0.7); padding:7px 10px; color:#fff; font-size:18px; text-transform:uppercase;font-family: MyriadPro-Cond; margin:0;}

.salsa1{ position: relative; border:4px solid rgba(225, 225, 225, 0.1); height:161px; overflow:hidden; margin:15px 0 0 0; float:left; width:100%;}
.salsa1 img{ width:100%;}
.salsa1 h6 a{ position:absolute; width:100%; bottom:0; background: rgba(209,31,20,0.9); padding:7px 10px; color:#fff; font-size:18px; text-transform:uppercase;font-family: MyriadPro-Cond; margin:0;}

.zomba-dance{border:4px solid rgba(225, 225, 225, 0.1); float:left; width:100%;}
.zomba-1{ height:232px; float:left; width:100%; overflow:hidden;}
.zomba-1 img{ width:100%;}
.zomba-content{ background:#fa7100; padding:15px 25px; float:left; width:100%;}
.zomba-content h6 a{width:100%;color:#fff; font-size:18px; text-transform:uppercase;font-family: MyriadPro-Cond; margin:0; padding:0;}
.zomba-content p{ text-align:left; margin:0 auto; font-size:14px; margin:5px 0 0 0;}
.zomba-content a{ color:#fff; text-decoration:none; list-style:none;}


.instructor-testimonials{background:url(../img/instructor-testimonials-bg.jpg) no-repeat fixed center top / cover; padding:60px 0;}
.instructor-testimonials h3{ color: #ff7100;font-family: MyriadPro-BoldCond;font-size: 30px;margin: 0;padding: 0;text-align: left;text-transform: uppercase;width: 100%;}
.instructor-testimonials .col-md-5{ background:url(../img/line-2.png) no-repeat right top;}
.instructor-testimonials .col-md-5 span{border:3px solid rgba(225, 225, 225, 0.1); float:left; margin:0 15px 15px 0;}

.instructor-testimonials p{ font-size:15px; color:#fff; width:100%;}
.instructor-testimonials a{ color:#fff; font-size:14px; margin:0 auto; padding:0; text-decoration:none; list-style:none;}

.icons{color: #fff;float: left;font-size: 50px; height:100px;width: auto;}
#owl-testimonials .item{ padding:30px 0; color:#fff; line-height:30px; text-align:left;}
.clients{ width:50px; height:50px; background:#fff; border-radius:50px; overflow:hidden; float:left;}
.clients-name{ font-size:17px; color:#fff; width:auto; float:left; line-height:18px; padding:10px 15px;}
.clients-name p{ font-size:14px; color:#ff7100;}

#owl-testimonials .owl-controls{ position:absolute; bottom:15px; right:0;}
#owl-testimonials .owl-controls .owl-prev{ background:url(../img/prev-arrow3.png) no-repeat; border-radius:0; text-indent:-9999px;}
#owl-testimonials .owl-controls .owl-next{ background:url(../img/next-arrow3.png) no-repeat; border-radius:0; text-indent:-9999px;}

.news-letter{ padding:30px 0; background:url(../img/newsleter-bg.jpg) no-repeat center top;}
.news-letter h3{ color: #ff7100;font-family: MyriadPro-BoldCond;font-size: 30px;margin: 0;padding: 0;text-align: left;text-transform: uppercase;width: auto; float: left;}
.news-letter h6{color: #000;float: left;font-family: MyriadPro-BoldCond;font-size: 17px;margin: 0;padding: 7px 16px;text-align: left;text-transform: uppercase;width: auto;}
.news-letter input{ border-radius:0; background:none;}
.form-inline .form-control{ width:100%;}
.news-letter .form-inline .form-group{ width:60%;}
.news-letter .btn-default{ background:#df6301; border:none; border-radius:0; text-shadow:0 0 0; color:#fff; text-transform:uppercase; margin-bottom: 10px; margin-left: 5px;}


.footer{background:url(../img/footer-bg.jpg) no-repeat fixed center top / cover; padding:60px 0;font-family: MyriadPro-Regular;}
.footer h6{ font-size:14px; color:#fff; text-transform:uppercase; margin:0 0 20px 0;}
.footer ul{ padding:0; }
.footer ul li{ float: left;list-style: inside disc;list-style-type: square;width: 100%;color:orange;}
.footer ul li a{ color: #fff; line-height:26px;font-size:14px;opacity:0.5;}
.footer ul li a:hover{color:orange; opacity:1; text-decoration:none;}
.footer p{ background: url(../img/tweet.png) no-repeat top left; color:#fff; padding:0 0 0 30px; margin:0 0 25px 0;opacity:0.5;}
.footer p span{ font-weight:bold; width:100%; float:left;}
.footer address{ color:#fff; font-size:14px; margin:0 0 25px 0;opacity:0.5;}
.sep{ margin:15px 0;}
.ft{ color:#fff; opacity:0.5;}
.ft a{ color:#fff; text-decoration:none; list-style:none; outline:none;}






/*******************About*******************/

.inner-banner{ width:100%; margin:0 auto; padding:0; height:314px; overflow:hidden; position:relative;}
.inner-banner img{ width:100%; margin-top:-30px;}
.inner-banner-content{ width:100%; margin:0 auto; padding:0; position:absolute; bottom:19%;}
.inner-banner h2{  color: #fff;font-family: MyriadPro-Bold;font-size: 96px;margin: 0 auto;padding: 0; text-align: center;text-shadow: 0 0 5px #000;text-transform: uppercase;}
.inner-banner h6{color: #fff;font-family: MyriadPro-Regular;font-size: 30px;margin: 0 auto;padding: 0;text-transform: uppercase; width: 100%; text-align:center;}
.inner-banner span{color: #ff7100;}
.inner-navigation{ width:100%; position:absolute; bottom:0; background:#000; z-index:50px; opacity:0.50; font-size:15px; color:#fff;
font-family: MyriadPro-Regular; font-size:15px;}
.inner-navigation span{ float:left; color:#fff; margin:0 3%; padding:10px 0;}
.inner-navigation a{ float:left; margin:0 auto; padding:10px 0; text-decoration:none; list-style:none; color:#fff;}
.inner-navigation a:hover{ color:#ff7100;}

.S-rental{ background:url(../img/inner-page-bg1.jpg) top center no-repeat; background-size: cover; padding:50px 0 20px 0;}
.S-rental h3{color:#fff;font-family:MyriadPro-BoldCond;font-size: 30px;margin:0 auto; padding:0;text-align: left;text-transform: uppercase;width: 100%;}
.S-rental p{ color: #fff;font-family: MyriadPro-Regular;font-size: 15px;line-height: 30px;}
.S-rental .col-sm-12{ margin-bottom:50px;}

.request-form{ float:none; margin:0 auto; padding:0 5% 2%; background:rgba(0, 0, 0, 0.3); clear:both; border:1px solid #fff; position:relative;}
.request-form h4{ font-size:24px; color:#f77500;font-family:MyriadPro-BoldCond; background: url(../img/request-form-hd.png) center 7px no-repeat; position: relative; text-align:center; padding:15px 0; top:-38px;}
.REQ-form{}
.REQ-form label{ text-align:left!important; color:#fff; font-size:15px;font-family: MyriadPro-Cond; text-transform:uppercase; font-weight:normal;}
.REQ-form .form-horizontal .form-group{ margin-left:0; margin-right:0;}
.REQ-form input{ background:rgba(255, 255, 255, 0.3); border-radius:0; color:#fff!important; border:1px solid #fff; opacity:0.555; font-size:12px; padding-top:10px;padding-bottom:10px; height:40px;}
.REQ-form select{ background: url(../img/arrow.png) right top no-repeat, rgba(255, 255, 255, 0.3); border-radius:0; color:#fff!important; border:1px solid #fff; opacity:0.555; font-size:12px; padding-top:10px;padding-bottom:10px; height:40px; overflow:hidden;-webkit-appearance: none;-moz-appearance: none;}
.REQ-form option{background:rgba(255, 255, 255, 0.3); border-radius:0; color:#000 !important; border:1px solid #fff; opacity:0.555; font-size:12px; padding-top:10px;padding-bottom:10px;}
.REQ-form button{ float:right; background:#df6301; font-size:16px; border-radius:0; border:none; color:#fff; text-shadow: none;font-family: MyriadPro-Cond; text-transform:uppercase; letter-spacing:5px; padding:5px 25px;}
.REQ-form button:hover{background:#df6301;}
.form-control::-moz-placeholder{ color:#fff;}



/*******************culture_history*******************/

.missionstatement{ background:url(../img/culture_history_bg.jpg) no-repeat fixed center top / cover; min-height:569px;}
.missionstatement h1{ color:#fff!important;}
.culture_history{ background:url(../img/culture_history_bg2.jpg) no-repeat fixed center top / cover; min-height:545px; padding:5% 0;}
.culture_history h2{ font-size:30px;font-family:MyriadPro-BoldCond; text-transform:uppercase; color:#fff; padding: 0 15px;}
.culture_history .video{ border: 5px solid #a26f4c; float: left;; width: 100%;}
.culture_history .video img{ width: 100%;}
.CH-content{}
.CH-content h3{ font-size: 24px; color: #fff;font-family: MyriadPro-Cond; text-transform: uppercase; font-weight: bold; margin: 0 auto; padding: 0;}
.CH-content p{ color: #fff; font-size: 15px; line-height: 29px;}

/*******************instructor*******************/

.instructor{ background:url(../img/inner-page-bg1.jpg) top center no-repeat; background-size: cover; padding:3% 0;}
.instructor h3{color:#fff;font-family:MyriadPro-BoldCond;font-size: 30px;margin:0 0 15px 0; padding:0;text-align: left;text-transform: uppercase;width: 100%;}
.instructor-in{ border:1px solid #fff; background:rgba(0, 0, 0, 0.3); padding:4% 4%; float:left; margin:0 0 2% 0;}
.team{ width:217px; border:5px solid #b89582; position:relative; float:left; margin:0 2% 0 0;}
.team-name{ background:#fff; border-top:3px solid #d45e04; border-bottom:3px solid #d45e04; position:absolute; width: auto; top:0; left:100%; font-size:24px; color:#d5701e; padding:0.5px 10%; font-family: MyriadPro-Cond; text-transform:uppercase;}
.border{ background: rgba(0, 0, 0, 0) url("../img/hd-bg.png") no-repeat scroll 0 0;left: 100%;padding: 22px 10px;position: absolute;top:-3px;}
.instructor-in p{ color:#fff; font-size:15px; line-height:29px; margin:6% 0 0 0; width:77%; float:left;}


/*******************Testimonials*******************/

.inner-testimonials{background:url(../img/inner-page-bg1.jpg) top center no-repeat; background-size: cover; padding:3% 0; position:relative;}
.inner-testimonials h5{background: rgba(0, 0, 0, 0) url("../img/hd-bg2.png") no-repeat scroll center top;color: #ff6600;font-family: MyriadPro-BoldCond;
font-size: 23px;margin: 0 0 15px;padding: 15px 0;position: absolute;text-align: center;text-transform: uppercase;top: 0;width: 100%; top:-26px; left:0;}
.inner-testimonials h3{color:#fff;font-family:MyriadPro-BoldCond;font-size: 22px;margin:0 0 15px 0; padding:0;text-align: left;text-transform: uppercase;width: 100%; }
.testimonials-inner{ border:1px solid #dc7332; padding:10px 15px 30px 15px; background:rgba(0, 0, 0, 0.2); float:left; margin:0 0 15px 0;}
.inner-testimonials p{ color:#fff; font-size:15px; line-height:29px; float:left; margin:15px 15px 0 15px;}
.inner-testimonials span{ color:#fff; font-size:50px; margin:0 auto; padding:0; width:auto; height:25px;}

.pagination a{ font-size:17px; color:#fff; border:1px solid #fff; border-radius:0; padding:5px 10px; background:rgba(0, 0, 0, 0.2); text-decoration:none; list-style:none;}
.submit-testimonials{ border:1px solid #fff; background:rgba(0, 0, 0, 0) url("../img/testimonials-bg.png") no-repeat scroll center -15px  / cover; min-height:680px;}

.submit-testimonials form{ margin:15% 10% 0 10%; font-family: MyriadPro-Cond;}
.submit-testimonials label{ font-size:16px; color:#fff; text-transform:uppercase; font-weight:normal;}
.submit-testimonials input{ border-radius:0; border:1px solid #fff; background:rgba(255, 255, 255, .555); font-size:14px;font-weight:normal;}
.submit-testimonials textarea{ border-radius:0; border:1px solid #fff; background:rgba(255, 255, 255, .555); font-size:14px;font-weight:normal;}
.submit-testimonials form img{ width:100%;}
.submit-testimonials button{ background:#000; float:right; border-radius:0; border:none; text-shadow:none; color:#fff; text-transform:uppercase; letter-spacing:3px; padding:8px 40px; margin:15px 0 0 0; font-size: 17px;}
.submit-testimonials button:hover{ background:#000; color:#ff7100;}


/*******************Personal Training*******************/

.p-training{background:url(../img/inner-page-bg1.jpg) top center no-repeat; background-size: cover; padding:3% 0; position:relative;}
.p-training h3{color: #fff;font-family: MyriadPro-BoldCond;font-size: 30px;margin: 0 auto;padding: 0;text-align: left;text-transform: uppercase;width: 100%;}
.p-training img{ float:left; margin:30px 15px 15px 0;}
.p-training h4{color: #fff;font-family: MyriadPro-Cond;font-size: 25px;margin:30px 0 0 0;padding: 0;text-align: left;text-transform: uppercase;width: 100%; font-weight:normal; width: auto;}
.p-training p{ color:#fff; font-size:15px; line-height:29px;font-family: MyriadPro-Regular;}
.pt-available{ float:left; width:100%; border-top:1px solid rgba(0, 0, 0, .2); border-bottom:1px solid rgba(0, 0, 0, .2); padding:15px 0; margin:3% 0 0 0;}
.pt-available-in{ width:100%; border:1px solid rgba(255, 255, 255, .5); background:rgba(0, 0, 0, .2); float:left; padding:0 0 3%;}
.p-training h5{ font-size:25px; color:#fff; width:100%; margin:0 auto; padding:0; text-align:center;font-family: MyriadPro-Cond; padding:30px 0;  margin:0 auto; float:left; text-transform:uppercase;}
 .traine{ width:80%;margin:0 auto; padding:0;}
.pt-available-in a{ float:left; text-decoration:none; list-style:none; color:#fff; font-size:15px;font-family: MyriadPro-Regular; margin:0 5px;}
.traine span{ margin:0 5px; color:#fff; float:left;}
.home{ width:50%; margin:0 auto; padding:0;}
.home p{ text-align:center; float:left; width:100%;}



/*******************Salsa Lesson*******************/

.salsa-lesson{ border:4px solid #d9854c; width:100%;}
.salsa-lesson-main p{ margin:15px 0; padding:0;}
.salsa-lesson-main h4{ font-size:25px; color:#fff; width:100%; margin:0 auto; padding:0; text-align: left;font-family: MyriadPro-Cond; padding:0;  margin:10px 0 0 0; float:left; text-transform:uppercase; clear:both;}
.salsa-lesson-main h6{ font-size:20px; color:#fff; font-family: MyriadPro-Cond;}
.dress_code{ background:#fff; padding:15px; float:left; width:100%;}
.dress_code h4{ color:#ff7100; text-align:center;}
.dress_code h6{ text-align:center; color:#ff7100; width:100%;}

.partner{ float:left; width:100%;}
.partner h4{ margin:5% 0 0 0;}
.partner-form{background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;border: 1px solid #fff;clear: both;float: left;margin:10px 0;;
padding:7%;position: relative;}
.partner-form input {background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;border: 1px solid #fff;border-radius: 0;color: #fff !important;
font-size: 15px;height: 40px;opacity: 0.555;padding-bottom: 10px;padding-top: 10px;}
.partner-form textarea {background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;border: 1px solid #fff;border-radius: 0;color: #fff !important;
font-size: 12px; opacity: 0.555;padding-bottom: 10px;padding-top: 10px;}

.partner-form .form-group{ float:left; width:100%; margin:20px 0 0 0; padding:0;}
.partner-form .form-group p{margin:0 auto; padding:0;}
.partner-form .checkbox{ margin:0 auto; padding:0; min-height:0; float:left; width:100%;}
.partner-form .checkbox label { min-height:0; padding:0; margin:0 10px 0 0; color:#fff;}
.partner-form .checkbox label input{ padding:0 auto; margin:0 10px 0 0; position:static; height:10px;}
.partner-form .form-group label{color: #fff;font-family: MyriadPro-Cond;font-size: 15px;font-weight: normal;text-align: left !important;text-transform: uppercase;}

.partner-form button{background: #df6301 none repeat scroll 0 0;border: medium none;border-radius: 0;color: #fff;float: right;
font-family: MyriadPro-Cond;font-size: 16px;letter-spacing: 5px;padding: 5px 25px;text-shadow: none;text-transform: uppercase; margin:25px 0 0;}
.partner-form button:hover{background:#df6301;}

.lessons{ padding:50px 25px 0;}
.lessons a{ font-size:25px;font-family: MyriadPro-Cond; color:#fff;text-decoration:none; list-style:none; width:100%; border-bottom:1px solid #fff;}
.lessons a:hover{ color:#fff;}
.lessons p{ font-size:14px; color:#fff; text-transform: lowercase; margin:15px 0 20px 0; width:100%;}



/*******************Contact_Us*******************/

.contact_us{ background:url(../img/inner-page-bg1.jpg) top center no-repeat; background-size: cover; padding:50px 0 20px 0;}
.contact_us h3 {color: #fff;font-family: MyriadPro-BoldCond;font-size: 30px;margin: 0 auto;padding: 0;text-align: left;text-transform: uppercase;width: 100%;}
.contact_us p{color: #fff;font-family: MyriadPro-Regular;font-size: 15px;line-height: 30px;}
.contact_us p span{ font-size:34px; font-style:italic; margin:15px 0 0 0; float: left;}
.contact-left{}
.contact-left label{ text-align:left!important; color:#fff; font-size:17px;font-family: MyriadPro-Cond; text-transform:uppercase; font-weight:normal;}
.contact-left .form-horizontal .form-group{ margin-left:0; margin-right:0;}
.contact-left input{ background:rgba(255, 255, 255, 0.3); border-radius:0; color:#fff!important; border:1px solid #fff; opacity:0.555; font-size:15px; padding-top:10px;padding-bottom:10px; height:40px;}
.contact-left textarea, .reg-fm textarea{ background:rgba(255, 255, 255, 0.3); border-radius:0; color:#fff!important; border:1px solid #fff; opacity:0.555; font-size:18px; padding-top:10px;padding-bottom:10px;}
.contact-left button{ float:right; background:#000; font-size:16px; border-radius:0; border:none; color:#fff; text-shadow: none;font-family: MyriadPro-Cond; text-transform:uppercase; letter-spacing:5px; padding:5px 25px;}
.contact-left button:hover{background:#000; color:#ff7100;}

.contact-img{ border:5px solid #dea47d; width:100%; float:left; margin:25px 0 0 0;}

.location_map{ margin:5% 0 2%;}
.map{ float:left; width:100%; position:relative; border-bottom:5px solid #4c4c4c; clear:both;height:150px;height:469px;}
.location_map #map-canvas {height:469px;overflow: hidden;position: absolute;right: 0;top: 0;width: 100%;}
.location-map-hd{ position:absolute; z-index:10; width:97.5%; background:#fbfefb; text-align:center; padding:5px 0; font-size:30px; color:#f4a334;font-family: MyriadPro-Cond; text-transform: uppercase;}






/*******************media*******************/


@media (max-width:1204px){
#navbar ul li a{ font-size:13px;}
.slide-content h2{ font-size:75px;}
.inner-banner{ height:auto;}
.inner-banner h2 { font-size:3em;}
.inner-banner h6 { font-size:2em;}
.inner-banner img{ margin-top:0;}
.instructor-in p{ width:100%;}
.border{ display:none;}
.team-name{ position:static;}
	}

@media (max-width:768px){
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{ max-height:0;}
header.sticky{ height:107px;}
#navbar ul li{ height:80px;}
header{ line-height:0;}
.slide-content h2{ font-size:40px;}
.slide-content h6{ font-size:20px;}
#owl-slide1 .owl-controls .owl-buttons{ display:none;}
.news{ float:left; width:100%;}
.customer-news .col-md-4{margin-left:0; margin-top:10%;}
.customer-news{min-height: 1100px;}
.customer-news-main{min-height: 855px;}
.crossfit{ float:left; width:100%; margin:0 0 30px 0; background:#4e00c2 ;}
.crossfit img{ float:left; margin:0 15px 0 0;}
.pull-right{ float:none!important;}
.pull-right h3{ float:left;}
.news-letter .col-md-6{ float:left; width:100%;}
.footer ul{ float:left; width:100%;}
.footer .col-md-4{ float:left; width:100%;  margin-bottom:15px;}
.footer .col-md-3{float:left; width:100%; margin-bottom:15px;}
.footer .col-md-2{float:left; width:100%; margin-bottom:15px;}
.ft{ float:left!important;}

.instructor-in p{ line-height:19px; text-align:justify;}

.partner-form{margin:10px 0 10% 0;}
.lessons a{ float:left;}
.lessons p{ float:left;}

}



/* ***************************** */



.log-blk { width:100%; padding:22px; background:rgba(0,0,0,0.3); border:#fff solid 1px; margin:25px 0 0;}
.log-blk .txtbox { width:100%; background:rgba(255,255,255,0.3); padding:7px; box-sizing:border-box; border-radius:0}
.log-blk label { color:#fff; font-size:16px; font-family:MyriadPro-Cond; padding-bottom:10px; font-weight:normal}
.log-blk .sbmt { width:100%; border-radius:0; text-transform:uppercase; font-size:16px; font-weight:bold; margin:35px 0 10px;}
.log-blk span { float:left; display:inline-block; margin-right:20px;}
.log-blk span a { color:#ffc000; }


.item-blk { width:100%; padding:40px 0; border-top: solid 1px rgba(255,255,255,0.2); font-family:MyriadPro-Cond;}
.item-blk .item-row { width: 100%; margin: 10px 0 20px; border: #fff solid 1px; box-sizing: border-box; background: rgba(0,0,0,0.3); position:relative }
.item-blk .item-row h4 { padding:15px 20px 10px; background: rgba(0,0,0,0.3); margin:0; color:#fff; text-transform:uppercase; font-size:23px;}
.item-blk .item-row ul { padding: 25px;}
.item-blk .item-row ul li { list-style:none; color:#fff; margin-bottom:10px; font-size:18px;}
.item-blk input[type=radio] { margin:4px 20px 0 0}
.item-blk .item-row .nxt-tbn { position:absolute; right:25px; bottom:25px; border-radius:0; padding:7px 50px 2px; font-size:17px;}
.item-blk .item-row h3 { font-weight:normal; font-size:25px;}
.item-blk .item-row .col-lg-3 { padding:40px 20px; border-right:rgba(255,255,255,0.2) solid 1px;}
.item-blk .item-row .col-lg-9 { padding:40px 20px;}
.item-blk .item-row .col-lg-9 h3 { padding-bottom:10px;}
.item-blk .item-row .txtbox { width:100%; background:rgba(255,255,255,0.3); padding:7px; box-sizing:border-box; border-radius:0}
.item-blk .item-row .sbmt { width:100%; border-radius:0; text-transform:uppercase; font-size:16px; font-weight:bold; }

.clas-blk1 { font-family:MyriadPro-Cond; }
.clas-blk1 h4 { color:#fff; font-size:25px;}
.clas-blk1 p { font-style:italic; font-size:17px;}
.clas-blk1 ul { padding:10px 0;}
.clas-blk1 ul li { width:50%; float:left; margin-bottom:10px; list-style-position:inside; color:#fff; font-size:20px;}

.clas-blk2 { width:100%; padding:40px; background:rgba(0,0,0,0.3); border:#fff solid 1px; margin:25px 0 0; font-family:MyriadPro-Cond;}
.clas-blk2 h4 { color:#fff; padding-bottom:10px; font-size:25px;}
.clas-blk2 ul { width:100%; padding:0; margin:0; color:#fff; font-size:18px;}
.clas-blk2 ul li { line-height:30px;}

.clas-blk3 { width:100%; background:#fff; padding:25px; font-family:MyriadPro-Cond; margin:30px 0;}
.clas-blk3 h3 { text-align:center; color:#fb6a00; padding-bottom:12px; font-size:23px; margin:0}
.clas-blk3 h4 { text-align:center; line-height:25px; font-size:18px; color:#fb6a00; padding:7px 25%; margin:0 }

.proms-blk { width:100%; background:rgba(0,0,0,0.3); border:#fff solid 1px; margin:45px 0 0; font-family:MyriadPro-Cond; padding:0px; color:#fff }
.proms-blk h2 { font-size:24px; color:#f77500;font-family:MyriadPro-BoldCond; background: url(../img/request-form-hd.png) center 7px no-repeat; position: relative; text-align:center; padding:15px 0;  margin:-28px 0 0;}
.proms-blk h3 { font-size: 20px; font-weight: normal; text-align: center; padding: 10px 0; background: rgba(0,0,0,0.3); padding:40px; line-height:35px;}
.prm01 { padding:40px;}
.prm01 .rows { padding-bottom:10px; margin-bottom:20px; border-bottom:#82611D solid 1px;}
.prm01 h4 { font-size:17px;}
.prm01 h5 { font-size:17px; line-height:25px;}
.prm01 .rows.adj { text-align:center}
.prm01 .rows ul { display:block; text-align:center; font-size:17px;}
.prm01 .rows ul li { text-align:center; padding:0 10px; display:inline; border-right:#fff solid 1px;}
.prm01 .rows ul li:last-child { border:0}


.clas-desc-blk .desc-blk { margin-bottom:15px; padding:40px; background:rgba(0,0,0,0.3); border:#fff solid 1px; font-family:MyriadPro-Cond;}
.clas-desc-blk .desc-blk img { display:inline-block; float:left; margin:0 20px 15px 0; border:#cc9e82 solid 6px;}
.clas-desc-blk .desc-blk .class-desc-title { display:inline-block; background:url(../img/title-bg.png) no-repeat center right; padding:7px 34px 13px 20px; color:#d46206; font-size: 20px; margin-left:-20px; text-transform:uppercase; font-weight:bold; margin-top:12px;}
.clas-desc-blk .desc-blk .class-desc-title a { color:#d46206;}


.video-blk { width:100%; height:450px; margin:25px 0; float:left}

.video-right h4 { font-size: 25px; color: #fff; padding: 0; text-transform: uppercase; font-family: MyriadPro-BoldCond;}
.video-blk1 { width:100%; height:300px; margin:0 0 25px 0; }

.gallery-list { padding:0; margin:20px 0;}
.gallery-list .col-sm-3 { margin:0 0 30px; height:194px;}
.gallery-list .col-sm-3 img { border:rgba(255,255,255,0.4) solid 4px;}
.gallery-list .col-sm-3 img:hover img { opacity:0.5}


/*header changes*/
.logo-top {
	background:none !important;
    box-shadow: none !important;
    height: 108px;
    padding: 5px;
    transition: all 1s ease-in-out 0s;
    width: 230px;
}
.sticky .logo-top{
	background:#ff7100  !important;
    height: 121px;
    padding: 5px;
    transition: all 1s ease-in-out 0s;
    width: 240px;
}
header.sticky {
    height: 121px;
}
header{
	height:125px;
}
#navbar ul li a{
	font-size:18px;
}
.separator{border-bottom: 1px solid rgba(0, 0, 0, 0.2);float: left; padding: 15px 0; width: 100%;}
.instructor-img{border:1px solid #b1b1b1;	padding:3px;}
#navbar ul li a {    padding: 10px 12px !important;}
#navbar ul li a:hover {    padding: 10px 12px !important;}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu a {    border: 0 none !important;}
.list-menu {top: 78px !important;}
a{color:#fff;}
h4 { color: #fff;font-family: inherit; font-size: 15px;font-weight: 100;line-height: 26px;text-align: left;}
h4 span{font-size:16px !important;}
.row.testimonials-inner > p {    margin: 0;}
.navbar-header{	float:right;}
.navbar-inverse .navbar-toggle .icon-bar {    background-color: #a03620;}
/* classes page styles*/
.form-control::-moz-placeholder {    color: #000;}
.navbar-inverse{	z-index:200;}
.instructer-bg{	background:rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll center -15px / cover;    border: 1px solid #fff;    min-height: 115px;height:auto;}
.instructor-thumb {    border: 1px solid #fff;    left: 5px;    padding: 3px;    position: absolute;    top: -30px;    width: 100px;}
.class-img {    border: 1px solid #fff;    margin: 0 auto;    padding: 7px;    width: 270px;}
.class-time {    background: rgba(216, 87, 0, 0.2) none repeat scroll 0 0;    border-bottom: 1px solid #d85700;    color: #fff;    list-style: outside none none;    padding:  10px;}
.class-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    float: right;
    font-weight: 400;
    padding: 2px 15px;
}
.class-time:hover {
    background: rgba(216, 87, 0, 0.4) none repeat scroll 0 0;
}
.form-control.txtbox {
    color: #fff;
}
option{
	background:#fff;
}
.row > form {
    color: #fff;
}
.log-submit-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    float: right;
    font-weight: 600;
    padding: 5px 30px;
}
.log-submit-btn:hover {
    border: 1px solid #ff7100;
	color:#ff7100;
}
.class-btn:hover{
	color:#ffb645;
}
h3 a:hover{
	color:#fff07f;
	text-decoration:none;
}
p a:hover{
	color:#fff07f;
	text-decoration:none;
}
.intructor-details h4 {
    color: #fff07f;
}
.classes-list > ul {
    color: #fff;
    font-size: 17px;
    line-height: 43px;
    list-style: outside none none;
	padding:0px;	
}
.classes-list li {
    background: rgba(216, 87, 0, 0.2) none repeat scroll 0 0;
    border-bottom: 1px solid #d85700;
    padding: 0 10px;
}
.classes-list li:hover {
     background: rgba(216, 87, 0, 0.4) none repeat scroll 0 0;

}
.classe-main-list {
    margin-top: 25px;
}
h6 a{
    color: #ffa761;
    font-family: MyriadPro-Regular;
    font-size: 22px;
}
h6 a:hover{
    color: #fff; 
	text-decoration:none;    
}
.classes-list a:hover{
	color:#f9a563;
	text-decoration:none;
}

.class-dtl-list{
	padding:0px;
	clear:both;
}
.agreement-list{
	border:none !important;
}
	 
.agreement-list > li {
    display: block !important;
    line-height: 37px;
    text-align: left !important;
	padding-bottom:5px;
}
/*changes*/

.welcome p {
	font-size:16px;
}
option {
    background: #fff none repeat scroll 0 0 !important;
}
.clas-desc-blk .desc-blk img {
    max-width: 251px;
	min-width:250px;
}
.table-striped > tbody > tr:nth-child(2n+1){
	background: rgba(216, 87, 0, 0.2) none repeat scroll 0 0;
    border-bottom: 1px solid #d85700;
    padding: 0 10px;
}
th{
	font-size:16px;
	color:#FFF;
}
tr{
	color:#FFF;
}
.table.table-striped a:hover{
	color:#ffc000;
	text-decoration:none;
}
.slide-title{
	color:#FFF;
	line-height: 50px;
}
.social-ico{opacity:0.4; filter: alpha(opacity=100);}
.social-ico:hover{
	
	border-radius:50%; opacity:1; filter: alpha(opacity=40);
}
.pay-btn{
    background: #df6301 none repeat scroll 0 0;
  	border: 1px solid #fff;    
	border-radius: 0;
    color: #fff;
    font-family: MyriadPro-Cond;
    font-size: 17px;
    letter-spacing: 5px;
    padding: 5px 25px;
    text-shadow: none;
    text-transform: uppercase;
	min-width:150px;
}	
.pay-head{
	float:left;
	margin:0px 25px 0px 0px !important;
	width: auto !important;
}
.purchase-heading{
    color: #fff;
    font-family: myriadpro-bold;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    padding: 0 45px 0 0;
}
.testimonials-home {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border: 1px solid #fff;
    padding: 20px;
}
.testimonials-home-form {
    background: rgba(0, 0, 0, 0) url("../img/testimonial-bg.jpg") no-repeat fixed center top / cover ;
    padding: 100px 0;
}
.testi-form .form-control{
	background:	rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}
.testi-form label {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.testimonials-home > img {
    padding: 20px;
}
.testimonials-home-form > h3 {
    color: #fff;
    font-family: myriadpro-bold;
    text-align: center;
}
.home-links .col-sm-4 > a h3 {
    color: #fff;
    font-size: 21px;
    text-align: center;
	background:none;
}
.home-icons {
    padding: 0 30%;
}
.col-sm-4 > a:hover{
	text-decoration:none;
}
.home-icons:hover{
}


.what-slide-content p {
    font-size: 16px;
}
.popular-class p {
    font-size: 17px;
}
.welcome p {
    font-size: 18px;
}
.CH-content p {
    font-size: 17px;
}
.inner-testimonials p {
    font-size: 17px;
    width: 100%;
}
.schedule-login{

}

*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.slide-title {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    font-family: myriadpro-bold;
    font-size: 20px;
    height: 55px;
    line-height: 50px;
    margin: 0 0 40px;
    text-align: center;
	padding:0px;
}
.left-arrow {
    border: 1px solid #fff;
    float: left;
    font-size: 28px;
    font-weight: 100;
    line-height: 53px;
    margin: -1px;
    padding: 0 15px;
}
.right-arrow {
    border: 1px solid #fff;
    float: right;
    font-size: 28px;
    font-weight: 100;
    line-height: 53px;
    margin: -1px;
    padding: 0 15px;
}
.left-arrow:hover{
	color:#ff7100;
	text-shadow:1px 2px 5px #000;
}
.right-arrow:hover{
	color:#ff7100;
	text-shadow:1px 2px 5px #000;
}
.buynow-list h4 {
    color: #fff;
    font-family: myriadpro-bold;
    font-size: 22px;
    margin: 16px 0;
    padding: 0;
    text-align: left;
}
.buynow-list > ul {
    color: #fff;
    font-family: verdana;
    font-size: 17px;
    line-height: 27px;
    list-style: outside none none;
    padding: 0;
}
.buynow-list li {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    border-bottom: 1px solid #858585;
    padding: 7px;
}
.buynow-list li label{
	font-weight:100;
}
.buy-nxt {
    background: #ff7100 none repeat scroll 0 0;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 5px 26px;
}
.buy-nxt:hover{
	border:1px 1px 2px #000;
	text-decoration:none;
}
h2{
	color:#FFF;
}
/*media query*/
@media (max-width:1200px){
#navbar ul li a {
    padding: 7px 8px !important;
    font-size: 16px;
}
#navbar ul li a:hover {
    padding: 7px 8px !important;
    font-size: 16px;
}
}
@media (max-width:990px){
.news{
	width:100%;
}
.customer-news-main {
    min-height: 790px;
    position: relative;
}
}
@media (max-width:995px){
 .navbar-collapse.collapse {
        display: none !important;
}
.navbar-collapse.collapse.in {
        display: block !important;
}
.navbar-header .collapse, .navbar-toggle {
        display:block !important;
}
.navbar-header {
        float:none;
}
.navbar-collapse.collapse.in{
	overflow:initial;
	border:none;
	
}
#navbar > ul {
    line-height: 0;
    margin-top: 54px;
}

.navbar-header {
    margin-top: 30px;
    top: 30px !important;
}
#navbar ul li {
    height: 22px;
}
#navbar > ul {
    margin-top: 54px;
}
#navbar ul li ul{
	top:15px;
}
#navbar ul li ul li {
    min-height: 32px;
}
.sticky  .navbar-collapse.collapse.in{
	background:#ff7100;
	border-radius:5px;
	padding:0px 5px;
}
.sticky #navbar ul li a{
	color:#000;
}
.sticky #navbar ul li a:hover{
	color:#ff7100;
}
	
.sticky .logo-top {
    background: none !important;
}
#navbar > ul {
    margin-top: 74px;
}
.navbar-collapse.in {
    overflow-y: visible;
    padding: 0 7px !important;
}
.sticky #navbar ul li ul{
	background:#FFF;
}
.dropdown-menu.list-menu{
	top:12px !important;
}
.sticky #navbar ul li a:hover{
	color:#ff7100 !important;
}
}
@media (max-width:765px){
	
.instruc-list{
	margin-top:70px;
	padding:0px 15px !important;
}
.instruc-list h4{
	text-align:center;
}
.instruc-list h3{
	text-align:center;
}
.welcome-img {
    width: 50%;
}
.welcome p { font-size: 15px !important; line-height:22px;}
	
	
	
}
@media (max-width:635px){

#navbar ul li {
    height: 33px;
    text-align: left;
    width: 100%;
}
#navbar ul li a {
    border: medium none;
}
#navbar ul li ul {
}
#navbar ul li ul {
    position: relative;
    width: 100%;
}	
}
@media (max-width:370px){
.sticky .logo-top {
    padding: 0;
    width: 261px;
}
.welcome p { font-size: 14px !important; line-height:20px;}

}
.brd-lst span:last-child {
    display: none;
}
.dropdown li.active-item a {
    color: #fff !important;
    background-color:rgba(187, 52, 7, 0.58) !important;
    border-radius: 5px;
}
.active-item a:first-child {
    color: #fff !important;
    background-color:#df6100;
    border-radius: 5px;
}
.dv-h3 {
    color: #fff;
    font-family: MyriadPro-BoldCond;
    font-size: 24px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.wd-mod {
    width: 400px;
}
.modal h4 {
    color: #000;
}
.reg-fm, .reg-fm .help-block, .reg-fm .has-error label, .reg-fm .has-success label {
    color: #fff; font-size: 17px;
}
.datepicker tr ,.datepicker th{
    color: #000;
}
.testimonials-inner > p {
    margin-left: 0;
    padding-left: 0;
}
.testimonials-inner h4 {
    float: left;
}
.checkbox label input {
    height: 10px;
}
.agr-txt p span {
    font-size: 15px !important;
}
.wht-bx {
    color: #fff;
    text-align: center;
}
.wht-txt {
    color: #fff;
}
.inner-testimonials .desc-cnt-blk{ color:#fff; font-size:15px; line-height:29px; float:left; margin:15px 15px 0 15px;}


.form-control::-webkit-input-placeholder
{
    color:    #fff !important;
}

.form-control:-moz-placeholder
{
    color:    #fff !important;
}

.form-control::-moz-placeholder
{
    color:    #fff !important;
}

.form-control:-ms-input-placeholder
{
    color:    #fff !important;
}
.desc-cnt-blk, .desc-cnt-blk p {
    font-size: 18px;
}

.stud-ren-blk {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border: 1px solid #fff;
    padding: 6px;
    margin-right: 10px;
}
.art-content {
    color: #fff;
    padding-bottom: 15px;
}
.art-author > span {
    color: #fff;
    float: right;
    text-align: right;
}
.art-author > a {
    color: #fff !important;
    font-size: 18px;
    font-weight: 100;
    line-height: 50px;
}
 h4 a, h4 a:hover {
    color: #fff;
}

@media (max-width: 479px) {
    .welcome-img {
        float: none;
        margin: 30px auto 0;
        width: 70%;
    }

    .welcome {
        min-height: 900px;
    }

    .register-now {
        display: block;
        float: none;
        letter-spacing: 2px;
        margin: 0 auto;
        width: 150px;
    }
}

.bannr-h2 {
    font-size: 88px !important;
    margin: 0 auto 70px !important;
}
.bannr-titl {
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    margin-top: -80px;
    padding: 10px 5px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(255, 113, 0, 0.7);
    float: right;
    margin-right: 20%;
    width: 34%;
}
.inner-testimonials h3 {
    clear: both;
}

.inner-testimonials p {
    /*text-transform: lowercase;*/
}
.slide-content h2 {
    margin-top: -8% !important;
}

div.healcode .hc_registration .hc-label {
    color: #fff ;
    font-size: 21px ;
    font-weight: 500 ;
    line-height: 32px ;
    margin-bottom: 5px ;
    margin-top: 1em ;
}
.hc-registration-field input {
    margin: 10px 0 ;
    width: 100% ;

}
#registrations_country > option {
    background: #fff none repeat scroll 0 0 ;
    padding: 2px 0 ;
}
.hc-registration-field.hc-country select{
    margin: 10px 0 ;
    width: 100% ;
    background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border:1px solid #fff;
    padding:10px 0px;
    color:#FFF;
}
#hc_state_select-b56210f24b > select{
    margin: 10px 0 ;
    width: 100% ;
    background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border:1px solid #fff;
    padding:10px 0px;
    color:#FFF;
}
#registrations_state > option{
    background: #fff none repeat scroll 0 0  !important;
    padding: 2px 0 ;
    color:#000;
}
.hc-registration-field.hc-gender select {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid #fff;
    margin-bottom: 10px ;
    margin-left: 0 ;
    margin-right: 10px;
    margin-top: 10px ;
    padding: 10px 0;
    width: 30% ;
    color:#FFF;
}
.hc-registration-field.hc-birth-date select{
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid #fff;
    float: left;
    margin-bottom: 10px ;
    margin-left: 0 ;
    margin-right: 10px;
    margin-top: 10px ;
    padding: 10px 0;
    width: 30% ;
    color:#FFF;
}
.hc-registration-field.hc-birth-date > label {
    font-size: 20px ;
    text-transform: none;
}
#registrations_gender > option{
    background: #fff none repeat scroll 0 0 !important ;
    padding: 2px 0 ;
    color:#000;
}
#registrations_birth_date_month > option{
    background: #fff none repeat scroll 0 0  !important;
    padding: 2px 0 ;
    color:#000;
}
#registrations_birth_date_day > option{
    background: #fff none repeat scroll 0 0 !important ;
    padding: 2px 0 ;
    color:#000;
}
#registrations_birth_date_year > option{
    background: #fff none repeat scroll 0 0  !important;
    padding: 2px 0 ;
    color:#000;
}
div.healcode .note {
    color: #fff  !important;
    font-size: 12px  !important;
}
.hc-registration-field.hc-referred-by > select{
    margin: 10px 0 ;
    width: 100% ;
    background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border:1px solid #fff;
    padding:10px 0px;
    color:#FFF;
}
#registrations_referred_by > option{
    background: #fff none repeat scroll 0 0  !important;
    padding: 2px 0 ;
    color:#000;
}
.hc-prospect-field.hc-prospect-comment textarea{
    margin: 10px 0 ;
    width: 100% ;
    background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border:1px solid #fff;
    padding:10px 0px;
}
.hc-prospect-field.hc-prospect-email-opt_in {
    color: #fff;
    float: left;
    font-size: 18px;
    width: 100%;
}
div.healcode .liability{
    margin: 10px 0 ;
    width: 100%  !important;
    background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0 !important;
    border:1px solid #fff;
    padding:10px 15px;
}
.hc-prospect-field.hc-prospect-comment textarea{
    color:#fff;
}
.hc-registration-field.hc-liability > input {
    float: left;
    height: 80px;
    width: 40px;
}
.hc-prospect-field.hc-prospect-email-opt_in > input {
    height: 10px;
    width: 30px;
}
.hc-registration-field.hc-liability {
    color: #fff;
    font-size: 15px;
}
div.healcode #hc-register {
    background-color: #cc4900 !important;
    color: #fff;
    font-size: 12px;
    opacity: 1;
    padding: 10px 20px;
}
#registrations_country > option {
    background: #fff none repeat scroll 0 0 !important;
    color: #000;
    padding: 2px 0;
}
div.healcode input.parsley-error, select.parsley-error, textarea.parsley-error {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border: 1px solid #bfbfbf;
    color: #fff !important;
    opacity: 1;
}
div.healcode input.parsley-success, select.parsley-success, textarea.parsley-success{
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0 !important;
    border: 1px solid #bfbfbf !important;
    color: #fff !important;
    opacity:1 !important;
}
div.healcode .parsley-minlength {
    color: #fff;
    font-size: 13px;
}
div.healcode .parsley-type{
    color: #fff;
    font-size: 13px;
}
div.healcode input.parsley-error, select.parsley-error, textarea.parsley-error {
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid #eed3d7 !important;
    color: #b94a48 !important;
}
div.healcode .parsley-pattern{
    color: #fff;
    font-size: 13px;
}
div.healcode input.parsley-error, select.parsley-error, textarea.parsley-error{
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid #eed3d7 !important;
    color: #FFF !important;
}
div.healcode .required {
    color: #fff;
    font-size: 19px;
}
.hc-registration-field.hc-liability > input {
    float: left;
    height: 10px;
    margin-right: 20px;
    width: 10px;
}
.contact-left .healcode input {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 0;
    color: #370000 !important;
    font-size: 15px;
    opacity: 1;
    padding-bottom: 10px;
    padding-top: 10px;
	padding-left: 12px;
}
div.healcode .liability span {
    clear: both;
    font-size: 16px !important;
    line-height: 22px;
}
.hc-button.signup_now.submit.registration_widget {
    background: #cc4900 none repeat scroll 0 0 !important;
    border-radius: 5px;
    color: #fff !important;
}
div.healcode .parsley-errors-list .parsley-required {
    color: #fff !important;
}
.hc-registration-field input::-webkit-input-placeholder {
    color: #fff;
}

.hc-registration-field input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.hc-registration-field input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

.hc-registration-field input:-ms-input-placeholder {
    color: #fff;
}
.hc_footer {
    display: none !important;
}
div.healcode table.schedule tr.odd td, div.healcode table.enrollments tr.odd td, div.healcode table.healcode-appointments tr.odd td, div.healcode ol.enrollment_list li.cancelled div tr.odd td {
background-color: #f2790e !important;
}
.hc_endtime,.hc_starttime {
    color: #fff !important;
}
.hc-button.signup_now,.healcode-today a,.healcode-previous a, .healcode-next a{
    background: #df6301 !important;
    border: none !important;
    border-radius: 0 !important;
    text-shadow: 0 0 0 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
}
.healcode.modal .hc_header {
    background: #df6301 !important;
}
div.healcode a.action_icon,.healcode-title-text,.hc_header_time,.trainer_name {
    color: #fff !important;
}
div.healcode .header .date_links .healcode-jump-to-date input {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
}
 div.healcode .header select {
     height: 34px !important;
     padding: 6px 12px !important;
     font-size: 14px !important;
     line-height: 1.42857143 !important;
     color: #555 !important;
     background-color: #fff !important;
     background-image: none !important;
     border: 1px solid #ccc !important;
 }
.inner-testimonials span,.class_name {
    color: #fff;
}
div.healcode .trainer_list .trainer_teaches_link {
    background-color: #df6301 !important;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 0 5px #df6301;
    -webkit-box-shadow: 0 0 5px #df6301;
    box-shadow: 0 0 5px #df6301;
}
div.healcode .class_list .class_offered_link, div.healcode .class_list .trainer_teaches_link, div.healcode .trainer_list .class_offered_link, div.healcode .trainer_list .trainer_teaches_link
{
    box-shadow:none !important;
    -webkit-box-shadow:none !important;

}
.trainer_bio,.class_description {
    font-size: 15px !important;
    color: #fff !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.trainer_teaches_link {
    font-size: 20px !important;
}
.div.healcode .class_list .class_offered_link, div.healcode .class_list .trainer_teaches_link, div.healcode .trainer_list .class_offered_link, div.healcode .trainer_list .trainer_teaches_link {
    background-color: #df6301 !important;
}
.filter_days.checkboxes label,.filter_time_of_day.checkboxes label,.subtrainer {
    color: #fff !important;
}
.class_name,.hc_header {
    background-color: #842c1d !important;
    padding-left: 12px !important;
    margin-bottom: 8px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.healcode.modal .hc_header,.modal-content .hc_header{
    background-color: #df6301 !important;
}
.inner-testimonials .healcode span {
    font-size: 20px !important;
}
span.hc_day,span.hc_date {
    color: #222;
    font-size: 12px;
    font-weight: 600;
}
.hc_button.hc_cart_checkout_button {
    background-color: #df6301 !important;
}

.pagination > li > a, .pagination > li > span{ color: #d1500f;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{    background-color: #fda623;
    border-color: #fec02d;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{    color: #b44b0a;}

div.healcode a.action_icon .action_text.my_account_text{    font-size: 15px !important;}
div.healcode .filters .checkboxes{font-size: 15px !important;}

div.healcode .week_links a, div.healcode .healcode-date-links-area a, div.healcode .week_links a, div.healcode .week_links a:visited, div.healcode .healcode-date-links-area a, div.healcode .healcode-date-links-area a:visited{    font-size: 14px !important;}
div.healcode table.schedule tr th, div.healcode table.enrollments tr th, div.healcode table.healcode-appointments tr th, div.healcode ol.enrollment_list li.cancelled div tr th{    font-size: 14px !important;}
div.healcode a.hc-button, div.healcode input.hc-button{font-size: 13px !important;}
div.healcode .class_list .class_offered_link, div.healcode .class_list .trainer_teaches_link, div.healcode .trainer_list .class_offered_link, div.healcode .trainer_list .trainer_teaches_link{    color: #000000 !important;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-family: MyriadPro-BoldCond;
    font-size: 18px;}
div.healcode img{margin-left: 16px !important;}
div.healcode .class_list .class_offered_link, div.healcode .class_list .trainer_teaches_link, div.healcode .trainer_list .class_offered_link, div.healcode .trainer_list .trainer_teaches_link {
    background-color: #ffaf06 !important;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 0 5px #444;
    -webkit-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
}
div.healcode .class_list .class_offered_link a, div.healcode .class_list .trainer_teaches_link a, div.healcode .trainer_list .class_offered_link a, div.healcode .trainer_list .trainer_teaches_link a{color: #000 !important;}

@media(min-width:320px) and (max-width:480px) 
{

	}
@media(min-width:768px) and (max-width:980px) 
{

	}
@media(min-width:1100px) and (max-width:1280px) 
{

	}
@media(min-width:1280px) and (max-width:1360px) 
{

	}
@media(min-width:1360px) and (max-width:1600px) 
{

	}
@media(min-width:1600px) and (max-width:1920px) 
{

	}
@media(min-width:1920px)
{

}
.h-instr {
    font-size: 17px;
    font-weight: bold;
}
.prev.disabled,.next.disabled {
    display: none !important;
}
.lessons h3 {
    font-size: 25px;
    font-family: MyriadPro-Cond;
    color: #fff;
    text-decoration: none;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #fff;
}